<br /><br />
<div class="ui very basic collapsing celled table">
  <table>
    <tbody>
      <tr *ngFor="let record of csvRecords; let i = index">
        <td *ngFor="let rec of record">
          {{ rec }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--
<table class="ui very basic collapsing celled table">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Correct Guesses</th>
      <th>Correct Guesses</th>
      <th>Correct Guesses</th>
      <th>Correct Guesses</th>
      <th>Correct Guesses</th>
      <th>Correct Guesses</th>
      <th>Correct Guesses</th>
      <th>Correct Guesses</th>
      <th>Correct Guesses</th>
      <th>Correct Guesses</th>
      <th>Correct Guesses</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <h4 class="ui image header">
          <div class="content">
            Lena
            <div class="sub header">Human Resources</div>
          </div>
        </h4>
      </td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <div class="content">
            Matthew
            <div class="sub header">Fabric Design</div>
          </div>
        </h4>
      </td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr></tr>
    <tr></tr>
  </tbody>
</table> -->
