<!-- <div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">

      <a class="item" [routerLink]="['./']" routerLinkActive="active"
        >Parametric Tests</a
      >
      <a class="item" routerLink="./data" routerLinkActive="active">
        Non-Parametric Tests
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<h3>Choose Statistical Test that you want to apply</h3>
<div class="ui compact menu">
  <div class="ui simple dropdown item">
    Choose Statistical Test
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" (click)="pClicked()">Parametric Tests</div>
      <div class="item" (click)="npClicked()">Non-Parametric Tests</div>
    </div>
  </div>
</div>

<!-- <div (click)="pSelected = !pSelected" style="background-color: blueviolet">
  click here
</div> -->
<!-- <div style="background-color: darkgoldenrod" *ngIf="!pSelected">Showed !</div> -->

<!--
<button class="ui positive basic button" (click)="pClicked()">Positive</button> -->

<div class="ui vertical pointing menu" *ngIf="pSelected">
  <div>
    <a
      class="item"
      [class.active]="isActive"
      (click)="checkActive()"
      (click)="testClick()"
    >
      Anova
    </a>
  </div>
  <div><a class="item" (click)="testClick()"> Manova </a></div>
  <div><a class="item" (click)="testClick()"> T-test </a></div>
</div>

<div class="ui vertical pointing menu" *ngIf="npSelected">
  <a
    class="item"
    [class.active]="isActive"
    (click)="checkActive()"
    (click)="testClick()"
  >
    Chi-Square
  </a>
  <a class="item" (click)="testClick()"> Friedman test </a>
  <a class="item" (click)="testClick()"> Spearmans P </a>
</div>

<ng-container> </ng-container>

<div class="ui very padded segment" *ngIf="testClicked">
  <h3>Choose variables that you want to apply the {{ testName }} test on</h3>

  <div class="ui compact menu">
    <div class="ui simple dropdown item">
      Choose Columns
      <i class="dropdown icon"></i>
      <div class="menu">
        <div
          class="item"
          *ngFor="let col of csvRecords[0]; let i = index"
          (click)="onClick(col)"
        >
          {{ col }}
        </div>
      </div>
    </div>
  </div>

  &nbsp;&nbsp;
  <div class="ui compact menu">
    <a class="item" *ngFor="let v of selectedVars; let i = index">
      <i class="list icon"></i>
      {{ v }}
      <div class="floating ui red label">{{ v.length }}</div>
    </a>
  </div>
  &nbsp;&nbsp;
  <button class="ui secondary button" (click)="selectedVars = []">Clear</button>
  <br />
  <br />
  <div class="ui segment">
    <div class="ui bulleted list">
      <div class="item" *ngFor="let v of selectedVars; let i = index">
        {{ v | uppercase }}
      </div>
    </div>
  </div>
  <br /><br />
  <button class="positive ui button" style="width: 20%">Test</button>
</div>

<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <a href="https://google.com" class="ui medium image">
        <img
          src="https://h5p.org/sites/default/files/styles/medium-logo/public/logos/chart-icon-color.png?itok=kpLTYHHJ"
        />
      </a>
    </div>
    <div class="column">
      <div class="ui statistics">
        <div class="red statistic">
          <div class="value">5.624</div>
          <div class="label">P Value</div>
        </div>
        <div class="orange statistic">
          <div class="value">8.256</div>
          <div class="label">F ratio</div>
        </div>
        <br /><br />
        <div class="green statistic">
          <div class="value">Good</div>
          <div>There is a statistical relationship</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical divider">Results</div>
</div>
